<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Teste" parallel="methods" thread-count="4">
    <listeners>
        <listener class-name="utils.ExtentReportListener"/>
    </listeners>
    <test name="External_Sites_Tests">
        <classes>
            <class name="tests.TemaSesiunea4" />
            <class name="tests.ComplexFormTest" />
        </classes>
    </test>
    <test name="Hapiflix_Application_Tests">
        <classes>
            <class name="tests.UserJourneyTests" />
        </classes>

    </test>
    <test name="Advanced_Tests">
        <classes>
            <class name="tests.WindowHandles"/>
            <class name="tests.AlertTests"/>
        </classes>
    </test>
</suite>

