<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Teste">
    <test name="External_Sites_Tests">
        <classes>
            <class name="tests.TemaSesiunea4" />
            <class name="tests.ComplexFormTest" />
        </classes>
    </test>
    <test name="Hapiflix_Application_Tests">
        <classes>
            <class name="tests.UserJourneyTests" />
        </classes>
    </test>
</suite>

